.scroll-to-bottom {
    position: fixed;
    top: 15px;
    right: 15px;
    opacity: 0;
    transition: all .2s ease-in-out;
}

.show-scrollBottom {
    opacity: 1;
    transition: all .2s ease-in-out;
}


.blink {
    animation: scroll-to-bottom_blink 3s infinite;
}

@keyframes scroll-to-bottom_blink {
    0% {
        color: red;
    }

    50% {
        color: transparent;
    }

    100% {
        color: red;
    }
}