<!--Scroll to top-->
<div class="scroll-to-top"
    [ngClass]="{'show-scrollTop': windowScrolled}">
    <button mat-button type="button" (click)="scrollToTop()">
        <mat-icon svgIcon="angle-double-up" style="vertical-align: top"></mat-icon>
    </button>
    <!-- <button mat-button type="button">
        <fa-icon [icon]="faFontAwesomeFlag" style="padding-right: 6px"></fa-icon>
    </button> -->
</div>

<!--Scroll to bottom-->
<!-- <div class="scroll-to-bottom"
    [ngClass]="{'show-scrollBottom': windowScrolled}">
    <button mat-button type="button" (click)="scrollToBottom()">
        <mat-icon svgIcon="angle-double-down" style="vertical-align: top"></mat-icon>
    </button> -->

    <!-- <button mat-button type="button">
        <fa-icon [icon]="faFontAwesomeFlag" style="padding-right: 6px"></fa-icon>
    </button> -->
<!-- </div> -->