#highest-diversion{
  padding-top: 20px;
}

#lowest-diversion{
  padding-bottom: 20px;
}

.longDiv{
  background-color: ivory;
  /* margin deals with the outer space (the space outside of the element to it's parent element */
  margin-left:100px;
  margin-right:100px;
}

/* padding deals with the inner space (the space between the content and the border of that element) */
p{
  border-style:dotted;
	line-height: 1.5;
	font-size: 1.125rem;
	margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 1rem;
}
